<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ToDo</title>
	<link rel="stylesheet" href="reset.css">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="bootstrap-theme.css">
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="style.css">

</head>

<body ng-app="ToDoListApp">
	<div class="main" ng-controller="ToDoListCntr as todo">
		<h1 class="main__header">ToDo List</h1>
		<table class="table table-condensed success">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date</th>
					<th>Description</th>
					<th>Completed</th>
				</tr>
			</thead>

			<tbody>
				<tr class="success" ng-repeat="task in todo.tasks | orderBy : 'duedate'" ng-click="todo.select()">
					<td>{{task.name}}</td>
					<td>{{task.duedate | date : 'MM/dd/yyyy'}}</td>
					<td>{{task.description}}</td>
					<td>{{task.completed}}</td>
				</tr>
			</tbody>
		</table>
		<form name="myForm" novalidate ng-submit="addNewTask">
			<div class="form-group">
				<label for="name">Name</label>
				<input class="form-control" required ng-model="todo.name" type="text" id="name">
			</div>

			<div class="form-group">
				<label for="datepicker">Date</label>
				<input id="datepicker" type="date" required ng-model="todo.duedate">
			</div>

			<div class="form-group">
				<label for="descriptions">Description</label>
				<textarea class="form-control" required ng-model="todo.description" id="descriptions"></textarea>
			</div>
			<div class="check">
				<label for=""> 
			<h4>Completed</h4>
		<input type="checkbox" ng-model="todo.completed">
			</label>
			</div>
			<button class="btn btn-default" ng-click="todo.addTask()" ng-disabled="myForm.$invalid">Add</button>
		</form>
	</div>

</body>

</html>
